<% layout('layouts/boilerplate') -%>

<section class="container cart-container">
  <section id="heading"> 
    <h4 class="display-4"><i class="fas fa-shopping-cart" style="margin-right: 20px;"></i>Your Cart</h4>
  </section>

  <%- include('../partials/flash')  %> 

  <div class="row cart-items">
    <% if(userCart.length > 0) { %>
      <% for(let item of userCart) { %>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card shadow-sm mx-auto position-relative" style="width: 100%;">
            <img src="<%= item.img %>" class="card-img-top" alt="item image">
            <div class="card-body">
              <p class="card-text fw-light"><%= item.desc %></p>
              <h6 class="card-title">
                Rs. <%= item.price %> 
              </h6>
            </div>
            <form action="/cart/<%= item._id %>?_method=DELETE" method="post" style="display: flex; width: 100%; justify-content: center; margin-bottom: 10px;">
              <button type="submit" style="width: 50%; background-color: #28a745; border: 1px solid black; border-radius: 5px; outline: none;">Remove
              </button>
            </form>
          </div>
        </div>
      <% } %>
    <% } else { %>
      <div class="col-12">
        <p class="text-muted text-center">Your cart is empty.</p>
      </div>
    <% } %>
  </div>

  <% if(userCart.length > 0) { %>
    <div class="row">
      <div class="col-12 text-center">
        <a href="/create-checkout-session" class="btn btn-lg btn-primary checkout-btn">Proceed to Checkout</a>
      </div>
    </div>
  <% } %>
</section>
